//- 
	Life Calender
	Inspired by https://github.com/some1else/life

doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="style.css")
		script(src="script.js")
		title life
	body
		#box
